<use
        id="00"
        fill="${hexGame.getColor(0,0)}"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(9.8702559,17.021901)"
        fill="${hexGame.getColor(0,1)}"
        id="01"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(19.740512,34.043801)"
        fill="${hexGame.getColor(0,2)}"
        id="use10663"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(29.610768,51.065711)"
        fill="${hexGame.getColor(0,3)}"
        id="use10665"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(39.481024,68.087611)"
        fill="${hexGame.getColor(0,4)}"
        id="use10667"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(49.35128,85.109511)"
        fill="${hexGame.getColor(0,5)}"
        id="use10669"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(59.221533,102.13142)"
        fill="${hexGame.getColor(0,6)}"
        id="use10671"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(69.091793,119.15332)"
        fill="${hexGame.getColor(0,7)}"
        id="use10673"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(78.962053,136.17522)"
        fill="${hexGame.getColor(0,8)}"
        id="use10675"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(88.832303,153.19712)"
        fill="${hexGame.getColor(0,9)}"
        id="use10677"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(98.702563,170.21902)"
        fill="${hexGame.getColor(0,10)}"
        id="use10679"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(19.740512,-8.1654534e-8)"
        fill="${hexGame.getColor(1,0)}"
        id="use10681"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(29.610768,17.021901)"
        fill="${hexGame.getColor(1,1)}"
        id="use10683"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(39.481024,34.043801)"
        fill="${hexGame.getColor(1,2)}"
        id="use10685"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(49.35128,51.065711)"
        fill="${hexGame.getColor(1,3)}"
        id="use10687"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(59.221533,68.087611)"
        fill="${hexGame.getColor(1,4)}"
        id="use10689"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(69.091793,85.109511)"
        fill="${hexGame.getColor(1,5)}"
        id="use10691"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(78.962053,102.13142)"
        fill="${hexGame.getColor(1,6)}"
        id="use10693"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(88.832303,119.15332)"
        fill="${hexGame.getColor(1,7)}"
        id="use10695"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(98.702563,136.17522)"
        fill="${hexGame.getColor(1,8)}"
        id="use10697"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(108.57282,153.19712)"
        fill="${hexGame.getColor(1,9)}"
        id="use10699"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(118.44307,170.21902)"
        fill="${hexGame.getColor(1,10)}"
        id="use10701"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(39.481024,-8.1654534e-8)"
        fill="${hexGame.getColor(2,0)}"
        id="use10703"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(49.35128,17.021901)"
        fill="${hexGame.getColor(2,1)}"
        id="use10705"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(59.221533,34.043801)"
        fill="${hexGame.getColor(2,2)}"
        id="use10707"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(69.091793,51.065711)"
        fill="${hexGame.getColor(2,3)}"
        id="use10709"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(78.962053,68.087611)"
        fill="${hexGame.getColor(2,4)}"
        id="use10711"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(88.832303,85.109511)"
        fill="${hexGame.getColor(2,5)}"
        id="use10713"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(98.702563,102.13142)"
        fill="${hexGame.getColor(2,6)}"
        id="use10715"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(108.57282,119.15332)"
        fill="${hexGame.getColor(2,7)}"
        id="use10717"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(118.44307,136.17522)"
        fill="${hexGame.getColor(2,8)}"
        id="use10719"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(128.31333,153.19712)"
        fill="${hexGame.getColor(2,9)}"
        id="use10721"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(138.18358,170.21902)"
        fill="${hexGame.getColor(2,10)}"
        id="use10723"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(59.221533,-8.1654534e-8)"
        fill="${hexGame.getColor(3,0)}"
        id="use10725"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(69.091793,17.021901)"
        fill="${hexGame.getColor(3,1)}"
        id="use10727"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(78.962053,34.043801)"
        fill="${hexGame.getColor(3,2)}"
        id="use10729"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(88.832303,51.065711)"
        fill="${hexGame.getColor(3,3)}"
        id="use10731"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(98.702563,68.087611)"
        fill="${hexGame.getColor(3,4)}"
        id="use10733"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(108.57282,85.109511)"
        fill="${hexGame.getColor(3,5)}"
        id="use10735"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(118.44307,102.13142)"
        fill="${hexGame.getColor(3,6)}"
        id="use10737"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(128.31333,119.15332)"
        fill="${hexGame.getColor(3,7)}"
        id="use10739"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(138.18358,136.17522)"
        fill="${hexGame.getColor(3,8)}"
        id="use10741"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(148.05384,153.19712)"
        fill="${hexGame.getColor(3,9)}"
        id="use10743"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(157.9241,170.21902)"
        fill="${hexGame.getColor(3,10)}"
        id="use10745"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(78.962053,-8.1654534e-8)"
        fill="${hexGame.getColor(4,0)}"
        id="use10747"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(88.832303,17.021901)"
        fill="${hexGame.getColor(4,1)}"
        id="use10749"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(98.702563,34.043801)"
        fill="${hexGame.getColor(4,2)}"
        id="use10751"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(108.57282,51.065711)"
        fill="${hexGame.getColor(4,3)}"
        id="use10753"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(118.44307,68.087611)"
        fill="${hexGame.getColor(4,4)}"
        id="use10755"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(128.31333,85.109511)"
        fill="${hexGame.getColor(4,5)}"
        id="use10757"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(138.18358,102.13142)"
        fill="${hexGame.getColor(4,6)}"
        id="use10759"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(148.05384,119.15332)"
        fill="${hexGame.getColor(4,7)}"
        id="use10761"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(157.9241,136.17522)"
        fill="${hexGame.getColor(4,8)}"
        id="use10763"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(167.79435,153.19712)"
        fill="${hexGame.getColor(4,9)}"
        id="use10765"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(177.66461,170.21902)"
        fill="${hexGame.getColor(4,10)}"
        id="use10767"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(98.702563,-8.1654534e-8)"
        fill="${hexGame.getColor(5,0)}"
        id="use10769"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(108.57282,17.021901)"
        fill="${hexGame.getColor(5,1)}"
        id="use10771"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(118.44307,34.043801)"
        fill="${hexGame.getColor(5,2)}"
        id="use10773"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(128.31333,51.065711)"
        fill="${hexGame.getColor(5,3)}"
        id="use10775"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(138.18358,68.087611)"
        fill="${hexGame.getColor(5,4)}"
        id="use10777"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(148.05384,85.109511)"
        fill="${hexGame.getColor(5,5)}"
        id="use10779"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(157.9241,102.13142)"
        fill="${hexGame.getColor(5,6)}"
        id="use10781"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(167.79435,119.15332)"
        fill="${hexGame.getColor(5,7)}"
        id="use10783"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(177.66461,136.17522)"
        fill="${hexGame.getColor(5,8)}"
        id="use10785"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(187.53486,153.19712)"
        fill="${hexGame.getColor(5,9)}"
        id="use10787"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(197.40512,170.21902)"
        fill="${hexGame.getColor(5,10)}"
        id="use10789"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(118.44307,-8.1654534e-8)"
        fill="${hexGame.getColor(6,0)}"
        id="use10791"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(128.31333,17.021901)"
        fill="${hexGame.getColor(6,1)}"
        id="use10793"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(138.18358,34.043801)"
        fill="${hexGame.getColor(6,2)}"
        id="use10795"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(148.05384,51.065711)"
        fill="${hexGame.getColor(6,3)}"
        id="use10797"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(157.9241,68.087611)"
        fill="${hexGame.getColor(6,4)}"
        id="use10799"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(167.79435,85.109511)"
        fill="${hexGame.getColor(6,5)}"
        id="use10801"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(177.66461,102.13142)"
        fill="${hexGame.getColor(6,6)}"
        id="use10803"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(187.53486,119.15332)"
        fill="${hexGame.getColor(6,7)}"
        id="use10805"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(197.40512,136.17522)"
        fill="${hexGame.getColor(6,8)}"
        id="use10807"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(207.27538,153.19712)"
        fill="${hexGame.getColor(6,9)}"
        id="use10809"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(217.14563,170.21902)"
        fill="${hexGame.getColor(6,10)}"
        id="use10811"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(138.18358,-8.1654534e-8)"
        fill="${hexGame.getColor(7,0)}"
        id="use10813"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(148.05384,17.021901)"
        fill="${hexGame.getColor(7,1)}"
        id="use10815"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(157.9241,34.043801)"
        fill="${hexGame.getColor(7,2)}"
        id="use10817"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(167.79435,51.065711)"
        fill="${hexGame.getColor(7,3)}"
        id="use10819"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(177.66461,68.087611)"
        fill="${hexGame.getColor(7,4)}"
        id="use10821"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(187.53486,85.109511)"
        fill="${hexGame.getColor(7,5)}"
        id="use10823"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(197.40512,102.13142)"
        fill="${hexGame.getColor(7,6)}"
        id="use10825"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(207.27538,119.15332)"
        fill="${hexGame.getColor(7,7)}"
        id="use10827"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(217.14563,136.17522)"
        fill="${hexGame.getColor(7,8)}"
        id="use10829"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(227.01589,153.19712)"
        fill="${hexGame.getColor(7,9)}"
        id="use10831"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(236.88614,170.21902)"
        fill="${hexGame.getColor(7,10)}"
        id="use10833"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(157.9241,-8.1654534e-8)"
        fill="${hexGame.getColor(8,0)}"
        id="use10835"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(167.79435,17.021901)"
        fill="${hexGame.getColor(8,1)}"
        id="use10837"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(177.66461,34.043801)"
        fill="${hexGame.getColor(8,2)}"
        id="use10839"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(187.53486,51.065711)"
        fill="${hexGame.getColor(8,3)}"
        id="use10841"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(197.40512,68.087611)"
        fill="${hexGame.getColor(8,4)}"
        id="use10843"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(207.27538,85.109511)"
        fill="${hexGame.getColor(8,5)}"
        id="use10845"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(217.14563,102.13142)"
        fill="${hexGame.getColor(8,6)}"
        id="use10847"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(227.01589,119.15332)"
        fill="${hexGame.getColor(8,7)}"
        id="use10849"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(236.88614,136.17522)"
        fill="${hexGame.getColor(8,8)}"
        id="use10851"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(246.7564,153.19712)"
        fill="${hexGame.getColor(8,9)}"
        id="use10853"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(256.62666,170.21902)"
        fill="${hexGame.getColor(8,10)}"
        id="use10855"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(177.66461,-8.1654534e-8)"
        fill="${hexGame.getColor(9,0)}"
        id="use10857"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(187.53486,17.021901)"
        fill="${hexGame.getColor(9,1)}"
        id="use10859"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(197.40512,34.043801)"
        fill="${hexGame.getColor(9,2)}"
        id="use10861"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(207.27538,51.065711)"
        fill="${hexGame.getColor(9,3)}"
        id="use10863"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(217.14563,68.087611)"
        fill="${hexGame.getColor(9,4)}"
        id="use10865"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(227.01589,85.109511)"
        fill="${hexGame.getColor(9,5)}"
        id="use10867"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(236.88614,102.13142)"
        fill="${hexGame.getColor(9,6)}"
        id="use10869"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(246.7564,119.15332)"
        fill="${hexGame.getColor(9,7)}"
        id="use10871"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(256.62666,136.17522)"
        fill="${hexGame.getColor(9,8)}"
        id="use10873"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(266.49691,153.19712)"
        fill="${hexGame.getColor(9,9)}"
        id="use10875"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(276.36717,170.21902)"
        fill="${hexGame.getColor(9,10)}"
        id="use10877"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(197.40512,-8.1654534e-8)"
        fill="${hexGame.getColor(10,0)}"
        id="use10879"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(207.27538,17.021901)"
        fill="${hexGame.getColor(10,1)}"
        id="use10881"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(217.14563,34.043801)"
        fill="${hexGame.getColor(10,2)}"
        id="use10883"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(227.01589,51.065711)"
        fill="${hexGame.getColor(10,3)}"
        id="use10885"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(236.88614,68.087611)"
        fill="${hexGame.getColor(10,4)}"
        id="use10887"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(246.7564,85.109511)"
        fill="${hexGame.getColor(10,5)}"
        id="use10889"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(256.62666,102.13142)"
        fill="${hexGame.getColor(10,6)}"
        id="use10891"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(266.49691,119.15332)"
        fill="${hexGame.getColor(10,7)}"
        id="use10893"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(276.36717,136.17522)"
        fill="${hexGame.getColor(10,8)}"
        id="use10895"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(286.23742,153.19712)"
        fill="${hexGame.getColor(10,9)}"
        id="use10897"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
<use
        transform="translate(296.10768,170.21902)"
        fill="${hexGame.getColor(10,10)}"
        id="use10899"
        x="0"
        y="0"
        width="744.09448"
        height="1052.3622"
        xlink:href="#path2383" />
</g>
</g>
</svg>