#{extends 'main.html' /}
#{set title:'Home' /}


  #{include 'templates/labels.html'/}
  #{include 'templates/grid.html'/}


<a href="@{Application.newGame()}"><button>asd</button><a/>

#{if hexGame != null}
 #{if hexGame.isWinner()}
     <h1>Player ${hexGame.currentPlayer} WON!!!</h1>
 #{/if}
  <h2>Player`s ${hexGame.getCurrentPlayer()} turn<h2/>
  <h2>game`s ID ${hexGame.id}<h2/>

    <form id="takeTurn" class="form-vertical  span3 well" action="@{Application.takeTurn(x,y,id)}" method="POST">
                <input type="hidden" value="${hexGame.id}" name="id" id="id">
                <input id="x" type="hidden" class="input-medium" name="x" id="x" placeholder="x" >
                <input id="y" type="hidden" class="input-medium" name="y" id="y" placeholder="y" >
    </form>
#{/if}



    <script src="@{'/public/javascripts/onClickgrid.js'}" type="text/javascript" charset="${_response_encoding}"></script>



